# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.vs/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log
dist/
build/
.cache/

# React
node_modules/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
*.log
*.lock

# Next.js
.next/
out/
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
*.log
*.lock